body {
  margin: 0;
  background: #E3EAFE;
}

.tickets__buy {
  box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.25);
}

.main__button:hover {
  opacity: 0.8;
  color: #000;
  transition: 3s;
}

.tickets__buy:hover {
  opacity: 0.8;
  color: #fff;
  background: #000;
  transition: 3s;
}

.tickets__book:hover {
  color: #000;
  transition: 1s;
}

.app-form__button:hover {
  color: #fff;
  background: #000;
  transition: 3s;
}

@media (max-width: 768px) {
  .header-menu {
    display: none;
  }

  .mobile {
    color: #fff;
    position: absolute;
    top: 24px;
    right: 47px;
    cursor: pointer;
    width: 5px;
  }

  .mobile span {
    display: block;
    width: 23px;
    height: 2px;
    background-color: #fff;
    margin: 6px 0 0;
  }

  .header-main {
    background: url(img/bckgmobile.jpg) no-repeat;
    width: 320px;
    height: 334px;
    object-fit: cover;
  }

  .main {
    color: #E1E6E9;
    text-align: center;
  }

  .main__title {
    padding-top: 63px;
    font: 30px/35px "Roboto", arial, sans-serif;
    margin-top: 0;
    margin-bottom: 5px;
  }

  .main__subtitle {
    font: 15px/18px "Roboto", arial, sans-serif;
    margin-top: 0;
    margin-bottom: 123px;
  }

  .main__button {
    text-decoration: none;
    background: #E0036F;
    color: #fff;
    padding: 14px 105px 13px;
    font: 15px/18px "Roboto", arial, sans-serif;
    cursor: pointer;
  }

  .tickets {
    margin-top: 23px;
    text-align: center;
    height: 272px;
  }

  .tickets__title {
    margin: 0;
    color: #585858;
    font: 500 21px/22px "Roboto", arial, sans-serif;
    padding: 0 30px 10px 29px;
  }

  .tickets__cost {
    margin: 0;
    color: #263B83;
    font: 20px/24px "Roboto", arial, sans-serif;
    margin-bottom: 30px;
  }

  .tickets__buy {
    font: 20px/23px "Roboto", arial, sans-serif;
    background: #FFDA45;
    color: #000;
    text-decoration: none;
    padding: 11px 98px 9px 95px;
    cursor: pointer;
  }

  .booking {
    padding-top: 39px;
  }

  .tickets__book {
    font: 20px/23px "Roboto", arial, sans-serif;
    color: #585858;
    border-bottom: 3px solid #FFDA45;
    padding-bottom: 9px;
    text-decoration: none;
    cursor: pointer;
  }

  .app-form {
    background-color: #405DBB;
    margin-bottom: 34px;
    text-align: center;
    height: 442px;
  }

  .app-form__title {
    margin: 0;
    padding-top: 37px;
    font: 20px/23px "Roboto", arial, sans-serif;
    color: #fff;
    margin-bottom: 4px;
  }

  .app-form__subtitle {
    font: 10px/12px "Roboto", arial, sans-serif;
    color: #fff;
    padding-bottom: 21px;
    margin: 0;
  }

  .app-form__image {
    width: 260px;
    height: 222px;
    object-fit: cover;
    margin-bottom: 36px;
  }

  .app-form__button {
    font: 20px/23px "Roboto", arial,sans-serif;
    color: #000;
    text-decoration: none;
    background: #FFDA45;
    padding: 11px 60px 10px;
    cursor: pointer;
  }

  .speakers {
    text-align: center;
    margin: 0;
  }

  .speakers__title {
    margin: 0;
    font: 20px/22px "Roboto", arial, sans-serif;
    color: #585858;
    padding: 0 51px;
  }

  .speakers__img {
    padding: 31px 20px 24px;
    width: 260px;
    height: 260px;
    object-fit: cover;
  }

  .img_hidden {
    display: none;
  }

  .speakers__scroll {
    margin-bottom: 39px;
  }

  .footer {
    background: #0E1E71;
    padding: 0 30px 55px 17px;
  }

  .footer__location {
    width: 100px;
    height: 9px;
    padding-top: 15px;
    cursor: pointer;
  }

  .footer__contacts {
    width: 121px;
    height: 22px;
    float: right;
    padding-top: 15px;
  }
}

@media (min-width: 1440px) {
  .header-main {
    width: 1440px;
    height: 838px;
    display: inline-block;
    background: url(img/background.png) no-repeat;
  }

  .header {
    padding: 70px;
    display: flex;
    justify-content: flex-end;
  }

  .header-menu {
    font: 900 18px/21px "Roboto", arial, sans-serif;
  }

  .header-menu__link {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    margin-right: 60px;
    color: #fff;
    transition: opacity 0.5;
  }

  .header-menu__link:hover {
    opacity: 0.5;
  }

  .main {
    padding: 61px 130px 0 65%;
    text-align: right;
    color: #fff;
  }

  .main__title {
    font: 40px/47px "Roboto", arial, sans-serif;
    margin-top: 0;
    margin-bottom: 11px;
  }

  .main__subtitle {
    font: 20px/23px "Roboto", arial, sans-serif;
    margin-top: 0;
    padding-left: 10%;
    margin-bottom: 55px;
  }

  .main__button {
    text-decoration: none;
    color: #fff;
    background: #E0036F;
    padding: 15px 66px 16px 67px;
    font: 20px/23px "Roboto", arial, sans-serif;
    cursor: pointer;
  }

  .tickets__title {
    margin: 0;
    padding: 55px 409px 47px;
    font: 30px/35px "Roboto", arial, sans-serif;
    text-align: center;
  }

  .tickets__cost {
    margin: 0;
    font: 900 31px/21px "Roboto", arial, sans-serif;
    text-align: center;
    margin-bottom: 41px;
  }

  .tickets__buy {
    display: inline-block;
    font: 20px/23px "Roboto", arial, sans-serif;
    background: #FFDA45;
    color: #000;
    text-decoration: none;
    padding: 16px 66px;
    margin-bottom: 18px;
    cursor: pointer;
  }

  .tickets__book {
    font: 20px/23px "Roboto", arial, sans-serif;
    text-decoration: none;
    color: #585858;
    border-bottom: 3px solid #FFDA45;
    padding-bottom: 10px;
    cursor: pointer;
  }

  .app-form {
    background-color: #405DBB;
    margin-top: 68px;
    margin-bottom: 89px;
    height: 327px;
  }

  .app-form__title {
    padding-top: 118px;
    font: 30px/35px "Roboto", arial, sans-serif;
    color: #fff;
    margin: 0 130px;
  }

  .app-form__subtitle {
    margin: 0;
    padding-top: 20px;
    font: 20px/23px "Roboto", arial, sans-serif;
    color: #fff;
    margin-left: 130px;
    float: left;
  }

  .app-form__image {
    margin: -153px 43px 0;
  }

  .app-form__button {
    margin-top: -17px;
    font: 20px/23px "Roboto", arial, sans-serif;
    text-decoration: none;
    color: #000;
    background: #FFDA45;
    padding: 15px 28px 16px 31px;
    float: right;
    margin-right: 131px;
    cursor: pointer;
  }

  .speakers {
    text-align: center;
  }

  .speakers__title {
    font: 30px/35px "Roboto", arial, sans-serif;
    color: #585858;
    margin: 0;
    margin-bottom: 52px;
    padding: 0 490px;
  }

  .speakers__img {
    padding: 26px 8px 35px;
  }

  .speakers__scroll {
    display: none;
  }

  .footer {
    margin-top: 52px;
    background-color: #0E1E71;
    padding: 47px 130px 152px;
  }

  .footer__location {
    cursor: pointer;
  }

  .footer__contacts {
    float: right;
  }
}
